<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Base MVC Application - Animals</title>
</head>
<body>
    <h1 style="color: darkslateblue">Animals</h1>
    <p>
        What animal you are interested in <a href="animals/dog">King bulldog</a>
        or Horse <a href="animals/horse">Mustang</a>
    </p>
</body>
</html>